.env
.env.*
**/__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
pip-wheel-metadata/
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.tox/
build/
dist/
*.egg-info/
*.egg
.eggs/
*.log
*.tmp
*.temp
.vscode/
.idea/
.DS_Store
Thumbs.db
*.db
*.sqlite3
*.sqlite
*.json
*.txt